
/* Banner ***/

.banner {
	@extend %centered;
	@extend %side-padding;
	background: #fff;
	padding: 20px;
}


.profile-image {
	@extend %br-12;
	width: 60%;
	box-shadow: 1px 1px 2px #576366;
}

/* Layout containers ***/


.portfolio {
	@extend %centered;
	@extend %side-padding;
	@extend %top-padding;
	border-bottom: 1px solid #edeff0;
}


/* Skills ***/

.skills {
	@extend %centered;
	@extend %side-padding;
	@extend %top-padding;
	padding-bottom: 20px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	& ul li {
		border-bottom: 1px solid #fff;
		background: #fff;
		padding: .4em;
		margin-top: 5px;
	}
}


/* Portfolio ***/ 

.portfolio > h2 {
	@extend %top-padding;
	padding-bottom: 40px;
}


.card {
	padding-bottom: 30px;
	& > h3 {
		margin-top: 25px;
	}
}


/* Contact ***/

.contact {
	@extend %centered;
	@extend %side-padding;
	&-container {
		@extend %br-12;
		width: 90%;
		margin: 0 auto;
		margin-bottom: 3em;
	}
	& > h2 {
		margin-top: 30px;
	}
	&-list li {
		padding-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	&-list a {
		color: #52bab3;
			&:hover {
			color: #082d77;
		}
	}
	&-icon {
		height: 30px;
		margin-right: 15px;
	}

}



