
// Center text

%centered {
	text-align: center;
}

// Left right padding

%side-padding {
	padding-left: 1em;
	padding-right: 1em;
}

// Top padding

%top-padding {
	padding-top: 20px;
}

// Border radius 12px

%br-12 {
	border-radius: 12px;
}