/* Flexbox ***/

.main-header {
	display: flex;
	flex-direction: column;
}

.contact-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-list {
	display: flex;
	justify-content: space-between;
}