.main-footer {
	background: linear-gradient(#c4f9fc, #fff);
	padding-bottom: 2em;
}

/* Footer ***/

.main-footer {
	font-size: 1rem;
}

.footer-list {
	display: flex;
	justify-content: space-between;
}

.footer-list li:first-child {
	margin-left: 1em;
}

.footer-list li:nth-child(2) { /* back to top in footer list */
	margin-right: 1em;
}


.footer-list li:nth-child(n+3) {
	display: none;
}