/* Header ***/

.main-header {
	@extend %centered;
	font-size: 1.2rem;
	width: 100%;
	max-width: 100%;
	padding: 1em 1em 0px 1em;
	margin-bottom: 20px; /* to push down banner content */

	@media #{$brk-narrow} {

		width: 90%;
		margin: 0 auto;
		padding-top: 2em;
		border-bottom: 1px solid $color-prim;
	}

	@media #{$brk-wide} {
		width: 80%;
		max-width: 1150px;
		padding-left: 0;
		padding-right: 0;
	}
}

.main-nav {
	& li {
		border-radius: $br;
		background: $color-body;
		border: 1px solid $color-border-light;
		margin-bottom: 10px;

		@media #{$brk-narrow} {
			border: none;
		}

		@media #{$brk-wide} {
			width: 80%;
			max-width: 1150px;
		}

		@media #{$brk-wide} {
			margin-left: 7px;
			margin-right: 7px;
		}
	}

	& a {
		border-radius: $br;
		display: block;
		padding: 10px 15px;
		color: $color-text-light;
			&:hover {
			background: lighten($color-body, 3%);
			}
		}

}

.name {
	margin-top: 0;
	font-weight: normal;

	@media #{$brk-wide} {
		margin-bottom: 0;
	}
}

.initial {
	@include font(2rem, $weight: bold, $color: $color-text-base);
	background: $color-prim;
	border-top-left-radius: $br;
	border-bottom-right-radius: $br;
}