/* Header ***/

.main {
	&-header {
		@extend %centered;
		font-family: 'Source Sans Pro', 'Kranky', 'Lato', Helvetica, Arial, sans-serif;
		font-size: 1.2rem;
		width: 100%;
		max-width: 100%;
		padding: 1em 1em 0 1em;
		margin-bottom: 20px; /* to push down banner content */
	}

	&-nav li {
		@extend %br-12;
		background: #fff;
		margin-bottom: 10px;
	}

	&-nav a {
		display: block;
		padding: 10px 15px;
			&:hover {
			background: #c4f9fc;
			font-weight: bold;
			}
		}
}


.name {
	margin-top: 0;
	margin-bottom: 1em;
}

